header {
  position: relative;
  text-align: center;
  font-family: sans-serif;
  background-color: #FFFFFF; 
}

form {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: gray;
  border: 1px solid;
  border-color: 5px black ;
}


form h1 {
  padding: 0%;
  text-align: center;
  font-family: sans-serif;
}

fieldset {
  border-color: black;
  text-align: center;
  font-family: sans-serif;
  display: fill;
}

#button {
  text-align: center;
  position: relative;
  margin-left: 20%;
  padding: 10px;
  margin-right: 20%;

}